/********* COMMON STYLES **********/

body {
	background-color: white;
}

a, h2, h3, blockquote, .navbar, button, p, table, #bookings, .footer, .card-text, .card-title {
	font-family: "Muli", sans-serif;
}

h2, p {
	text-align: center;
	line-height: 1.4em;
}

.rounded {
	border-radius: 1em;
}
.polaroid {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/********* NAVIGATION **********/

.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
}
.bg-faded {
	background-color: white;
}
.navbar-toggler {
	border: none;
}

/********* HERO IMAGE **********/

div.transbox {
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: white;
	border-radius: 1em;
}

.jumbotron {
	background-image: url("../images/cafe-1.jpg");
	background-size: cover;
	background-position: center center;
}

/********* MAIN CONTENT **********/

.item {
height: 800px;
}
.item img {
max-height: 100%;  
max-width: 100%; 
position: absolute;  
top: 0;  
bottom: 0;  
left: 0;  
right: 0;  
margin: auto;
}
.col-md-2 {
	text-align: left;
}
#bookings {
	position: center;
	width: 50vh;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
table {
	table-layout: fixed;
	width: 250px;
}
th {
	background-color: #f2f2f2;
	color: black;
}
td {
	width: 100%;
}

.card {
	border: none;
}
.card-text, .card-title {
	text-align: center;
}
.footer {
	text-align: left;
	background-color: lightgrey;
}
 #map {
   width: 100%;
   height: 400px;
 }

/********* MEDIA QUERIES **********/

@media (max-width:800px) {
    #carouselExampleControls {
        display:none;
    }
}
